.current-message-wrapper {
    max-width: 100%;

}

.author {
    margin: 10px auto;
    text-align: center;
    border-bottom: 1px dotted burlywood;
    padding-bottom: 10px;
    font-size: large;
    font-weight: 200;
    color: #8568AF;
}

.fallback {
    text-align: center;
    border-bottom: 1px dotted #8568AF;
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkred;
}

.title {
    text-align: center;
    border-bottom: 1px dotted #8568AF;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: darkred;
    font-size: large;
    font-weight: 300;
}

.text {
    text-align: justify;
    padding: 10px;
}