.dermatologies-wrapper {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;
    border: 1px dotted burlywood;
    border-radius: 20px;
    background: rgb(252,252,252);
background: linear-gradient(148deg, rgba(252,252,252,1) 52%, rgba(245,211,224,1) 93%);

}

