footer {
    display: flex;
    justify-content: space-between;
}

.contactsList {
    display: flex;
    min-width: 600px;
    justify-content: space-between;
    list-style: none;
}

.socialMedia {
    display: flex;
    justify-content: space-around;
    list-style: none;

}