footer {
    display: flex;
    justify-content: space-between;
}

.contactsList {
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    list-style: none;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    list-style: none;

}