footer {
    display: flex;
    justify-content: space-between;
}

.contactsList {
    display: flex;
    min-width: 600px;
    justify-content: space-between;
    list-style: none;
}

.socialMedia {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;

}

.listItem {
    margin-left: 10px;
}

.listItem a {
    text-decoration: none;
    color: black;
}

.listItem a:hover {
    color: crimson;
    font-size: 30px;
}

.portals {
    min-width: 500px;
}

.portalList {
    list-style: none;
    display: flex;
    justify-content:space-between ;
}

.portalList h5 a {
    text-decoration: none;
    color: black;
}

.portalList h5 a:hover{
    color: brown;
    font-size: large;
}

.logo {
    max-width: 20%;
}

.logo img {
    max-width: 100%;
    z-index: 5;
}

.allRights {
    display: inline-block;
    font-size: smaller;

}