.navigationbar{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #fff5ee;
    justify-content: flex-end;
background: rgb(240,157,193);
background: radial-gradient(circle, rgba(240,157,193,1) 0%, rgba(230,240,252,1) 100%);
opacity: 0.7;

}

.navigationbar:hover {
    opacity: 1;
}
.navigation{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navigation li{ 
    list-style-type: none;
    cursor: pointer;
    /* border: 1px solid #fcd5d5;
    border-radius: 5px;
    
    background-color: #f8dada; */
    padding: 4px 14px;
    text-transform: uppercase;
    margin-right: 20px;
    -webkit-box-shadow: 1px 2px 22px -4px #2b0329;
    box-shadow: 1px 2px 22px -4px #2b0329;
    opacity: 0.7;
}

.navigation li:hover {
opacity: 1;
background-color: #2b0329;
border: 1px solid #2b0329
}
.navigation li a{ 
    text-decoration: none;
    color: #ff69b4;
    font-weight: 500;
}
.navigation li a:hover {
    text-decoration: none;
    color: #f8dada;
    font-weight: 600;
}
.navigation li:hover{ 
    opacity: 2;
}