.error-wrapper {
    max-width: 50%;
    border-top: 1px solid burlywood;
    background: #D41872;
    border-radius: 5px;
    color: aliceblue;
    padding: 8px;
    margin: 5px auto;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    opacity: 0.4;
    z-index: 10;
}