.navigationbar{
    display: flex;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 100px;
    margin: 0 auto;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid burlywood;
background: rgb(159,166,212);
background: linear-gradient(164deg, rgba(159,166,212,1) 12%, rgba(24,24,27,1) 67%);
/* -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.37); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.37); */

}

.navigationbar:hover {
    opacity: 1;
}
.navigation{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navigation li{ 
    list-style-type: none;
    cursor: pointer;
    
    border-radius: 5px;
    
    padding: 4px 14px;
    text-transform: uppercase;
    margin-right: 20px;
    max-height: 25px;
}

.navigation li:hover {
opacity: 1;
background: rgb(23,23,24);
/* background: radial-gradient(circle, rgba(23,23,24,0.8365721288515406) 33%, rgba(144,167,203,1) 83%); */
}
.navigation li a{ 
    text-decoration: none;
    color:lightsteelblue;
    font-weight: 100;
}
.navigation li a:hover {
    text-decoration: none; 
    color: #f8dada;
    
}
.navigation li:hover{ 
    opacity: 1;
}

.logoWrapper {
    
    max-width: 350px;
    max-height: 80px;
    display: inline;
    z-index: 5;
}

.logoWrapper img {
    max-width: 80%;
}

.welcome {
    color: coral;
    font-weight: 100;
    font-size: large;
    font-style: italic;
}

.welcome span {
    color: #f8dada;
    font-weight: 300;
    font-size: large;
    font-style: italic;
}