.app {
  max-width: 100%;
  margin: 0 auto;
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/217/315/non_2x/light-blue-triangle-pattern-vector.jpg');
  opacity: 0.4;
}
