.app {
  max-width: 100%;
  margin: 0 auto;
  background-image: url('https://images.fineartamerica.com/images-medium-large-5/abstract-ribbon-waves-aleksey-odintsov.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
