.app {
  max-width: 100%;
  margin: 0 auto;
  background-image: url('https://i.pinimg.com/originals/43/44/f1/4344f117dd54faa0c92054f0e4ecffd4.jpg');
  /* background-image: url('https://i.dlpng.com/static/png/6228173-dust-transparent-png-fairy-dust-no-background-png-image-fairy-dust-transparent-background-820_749_preview.png'); */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
  /* height: 400px; */
  
}
