.procedure-wrapper {
    max-width: 28%;
    /* border: 1px solid; */
    margin: 15px auto;
    border-radius: 10px;
}

.image-wrapper {
    width: 250px;
    height: 250px;
    margin: 10px auto;
    
}

.image-wrapper img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.image-wrapper img:hover {
    transform: scaleX(-1);
}

.procedure-wrapper .content-wrapper {
    margin: 20px auto;
}

.content-wrapper .procedure-name {
    text-align: center;
    /* color: #777575; */
    font-size: larger;
    font-weight: 500;
}

.info-wrapper {
    margin: 15px auto;
    max-width: 60%;
    color: #777575;
    font-weight: 300;
    text-align: justify;
} 

.read-more {
    color: #5DBCA9;
    display: block;
    margin: 10px auto;
}

.read-more:hover {
    border: 1px solid #5DBCA9;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding: 4px 6px;
}

.read-less:hover {
    border: 1px solid #E6507D;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding: 4px 6px;
}

.read-less {
    color: #E6507D;
    display: block;
    margin: 10px auto;
}
