

.aboutWrapper {
    max-width: 80%;
    margin: 75px auto;
    
}

.aboutHeader{
    margin: 0 auto;
    color: darkslateblue;
    font-weight: 100;
}

.aboutContent {
    margin: 0 auto;
    font-weight: 100;
    font-size:x-large;
    line-height: 1.6;
}

.author {
    font-weight: bold;;
}

.content {
    margin-bottom: 50px;
}