

.aboutWrapper {
    max-width: 80%;
    margin: 75px auto;
    
}

.aboutHeader{
    margin: 0 auto;
    color: darkslateblue;
    font-weight: 100;
    font-size: x-large;
}

.content {
    margin: 30px auto;
    font-weight: 100;
    font-size: large;
    line-height: 1.6;
    margin-bottom: 50px;
}

.author {
    font-weight: 100;
    color: #;
}

