@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,500;1,100&display=swap);

.aboutWrapper {
    max-width: 80%;
    margin: 75px auto;
}

.aboutHeader{
    margin: 0 auto;
    color: darkslateblue;
    font-weight: 100;
}

.aboutContent {
    margin: 0 auto;
    font-weight: 100;
    font-size: 20px;
}

.author {
    font-weight: bold;;
}

.content {
    margin-bottom: 50px;
}