

.privacyPolicy {
    max-width: 80%;
    margin: 75px auto;
}

.privacyPolicy p {
    font-weight: 200;
}

.privacyPolicy  li {
    margin-bottom: 20px;
    font-weight: 200;
}

.privacyPolicyHeader {
    margin: 0 auto;
    color: darkslateblue;
    font-weight: 100;
}