.card-wrapper {
    margin: 25px auto;
    max-width: 25%;
}

.image-wrapper {
    max-width: 250px;
    max-height: 250px;
    margin: 30px auto;
    border: 1px solid burlywood;
    border-radius: 50%;

}

.image-wrapper img {
    width: 250px;
    height: 250px;
    /* min-height: 250px; */
    border-radius: 50%;
    
}

.logo-wrapper {
    max-width: 30%;
    position: relative;
    top: 10px;
    left: 120px;
}

.logo-wrapper img {
    max-width: 100%;
}

.content-wrapper {
    margin: 20px auto;
}

.content-wrapper p {
    margin: 10px auto;
    text-align: center;
    color: #6262A0;
    font-weight: 200;
    font-size: large;
}

.content-wrapper p span {
    font-weight: bold;
}

.rating {
    margin: 10px auto;
}

.card-wrapper button {
    margin: 25px auto;
    display: block;
    padding: 5px 12px;
    background: #EC8AC4;
    border: 1px solid #EC8AC4;
    border-radius: 5px;
    color: antiquewhite;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
    opacity: 0.9;
    outline: none;
}

.shared-wrapper {
    display: flex;
    align-content: center;
}

.shared-wrapper button {
    margin: 10px;
}