.card-wrapper {
    margin: 15px auto;
    max-width: 25%;
    border: 1px solid #6262A0;
}

.image-wrapper {
    max-width: 80%;
    margin: 15px auto;
    border: 1px solid burlywood;
}

.image-wrapper img {
    max-width: 100%;
}