.menuWrapper {
    max-width: 80%;
    margin: 75px auto;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid burlywood;
    padding: 40px; */
}

.menuWrapper div {
    flex: 1;
    /* margin-right: 10px; */
    padding: 40px 0;
    text-transform: uppercase;
    /* border: 1px solid salmon; */
    opacity: 0.8;
    text-decoration: none;
    
}

.menuWrapper div a {
    display: block;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

.aestheticDermatology {
    background-color: coral;
    
    /* border: 1px solid; */
}

.aestheticDermatology a {
    color: white;
}