.agnes-wrapper {
    max-width: 80%;
    margin: 50px auto;
    border: 1px dotted burlywood;
    border-radius: 20px;
}

.agnes-header {
    color: #605F6C;
    font-weight: 200;
    text-align: center;
    font-size: 45px;
}

.agnes-main-wrapper {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 80px;
}

.agnes-intro {
    display: block;
}

.agnes-intro li{
    margin: 50px 20px;
    list-style: none;
    font-size: larger;
    font-weight: 200;
}

.player {
    max-width: 50%;
    display: flex;
}

.player ReactPlayer {
    max-width: 100%;
}

.indications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}
.indications li{
display: block;
list-style: none;
margin: 20px 10px;
border: 1px solid #9190C7;
border-radius: 10px;
padding: 30px 40px;
color: #605F6C;
font-weight: 500;
font-size: large;
flex-grow: 1;
text-align: center;
background: rgb(218,204,244);
background: radial-gradient(circle, rgba(218,204,244,1) 0%, rgba(240,240,240,1) 100%);
}