.favorite-wrapper {
    border: 1px solid #E6E6E6;
    max-width: 30%;
    background: rgb(241,241,246);
background: radial-gradient(circle, rgba(241,241,246,0.8365721288515406) 33%, rgba(213,227,238,1) 83%);
    
}

.image-wrapper {
max-width: 100%

}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

.header-service {
    color: #6262A0;
    font-weight: 300;
    text-align: center;
}

.description {
    text-align: center;
    color: #202134;
}

.dislike-button {
    margin: 10px auto;
    display: block;
    justify-content: center;
    outline: none;
    border: 1px solid #D41872;
    background: #D41872;
    border-radius: 5px;
    padding: 8px 15px;
    color: cornsilk;

}