.register-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.register-wrapper fieldset {
    margin: 20px auto;
}

.register-wrapper label {
    display: block;
    justify-content: center;
}


.register-wrapper input[type=text],
.register-wrapper input[type=submit] {
    width: 50%;
    padding: 12px 20px;
    margin: 10px auto;
    display: block;
    justify-content: center;
    border: 1px solid #6262A0;
    border-radius: 4px;
    box-sizing: border-box;
}

