.register-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* .register-wrapper fieldset {
    margin: 20px auto;
} */

.register-wrapper label p{
    max-width: 50%;
    display: block;
    justify-content: center;
    margin: 10px auto;
    font-size: x-large;
    font-weight: 200;
    color: #6262A0;
}

.register-wrapper h3 {
    max-width: 30%;
    margin: 50px auto;
    font-size: x-large;
    font-weight: 200;

}

.first-part,
.second-part {
    border: 1px solid;
    margin: 0;
    padding: 10px 25px;
}

.first-part {
    border: #6262A0;
    background: #6262A0;
    color: #f2f2f2;
    margin-right: 0;
    
}


.register-wrapper input[type=text],
.register-wrapper input[type=submit] {
    width: 50%;
    padding: 12px 20px;
    margin: 20px auto;
    display: block;
    justify-content: center;
    border: 1px solid #6262A0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #6262A0;
    font-size: small;
    font-weight: 200;
}

.register-wrapper input[type=submit] {
    width: 20%;
    text-decoration: none;
    background: #6262A0;
    color: antiquewhite;
    opacity: 0.7;
    font-size: 18px;
    outline: none;
}

.register-wrapper input[type=submit]:hover {
    opacity: 1;
}


