.add-procedure-wrapper {
    margin: 50px auto;
    max-width: 50%;
    display: flex;
    justify-content: space-between;

}

.add-procedure-form {
border: 1px solid #f2f2f2;
/* max-width: 80%; */
min-width: 500px;
margin: 50px auto;
    /* flex-wrap: wrap; */
}

.add-procedure-form label {
    max-width: 100%;
}