.favorite-wrapper {
    display: flex;
    justify-content: center;
    max-width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
}


.category-menu {
    font-size: 20px;
    cursor: pointer;
}

.wrapper {
    height: 80%;
    width: 330px;
    position: relative;
}