.favorite-wrapper {
    display: flex;
    justify-content: center;
    max-width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
}


.category-menu {
    font-size: 20px;
    cursor: pointer;
}

.menu-buttons-wrapper {
width: 200px;
background: #EC8AC4;
}

.menu-buttons-wrapper button {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: #818181;
display: block;
transition: 0.3s;
cursor: pointer;
width: 100%;
border-radius: 5px;
outline: none;
margin-top: 10px;
}

.menu-buttons-wrapper button:hover {
color: #f1f1f1;    
}

.open {
    width: 250px;
}

.close {
    width: 0px;
}

.closeBtn {
position: absolute;
top: 0;
right: 25px;
font-size: 100px;
margin-left: 50px;
cursor: pointer;
color: red;
z-index: 4; 
}