.favorite-wrapper {
    display: flex;
    justify-content: center;
    max-width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;

}

.wrapper {
    height: 100%;
    width: 300px;
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

.wrapper .menu-btn
{
    position: absolute;
    top: 30px;
    left: 15px;
    height: 45px;
    width: 45px;
    z-index: 999;
    color: #EC8AC4;
    font-size: 30px;
    /* border: 1px solid #493040; */
    text-align: center;
    /* background: #EC8AC4; */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

}


.btn:checked ~ .menu-btn {
    left: 160px;
}

/* .btn:checked ~ .menu-btn span:before {
    content: "\f00d";
} */
.wrapper .sidebar {
    position: fixed;
    height: 30%;
    width: 130px;
    margin-top: 30px;
    background: #ECD3E3;
    opacity: 0.7;
    overflow: hidden;
    left: -150px;
    transition: all 0.3s ease;
}

.btn:checked ~ .sidebar {
    left: 0;
}
.sidebar .sidebar-title {
    color: cornsilk;
    font-size: 15px;
    font-weight: 300;
    line-height: 65px;
    background: #493040;
    text-align: center;
}

.sidebar .content {
    position: relative;
    height: 100%;
    width: 100%;

}

.sidebar button {
    display: block;
    color: #493040;
    background: #ECD3E3;
    outline: none;
    /* border: 1px solid #EC8AC4; */
    border: none;
    border-top: 1px solid #F8F8F8;
    padding: 5px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 0.6;
}

.sidebar button:hover {
    opacity: 1;
}
