.favorite-wrapper {
    display: flex;
    justify-content: center;
    max-width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.wrapper {
    height: 100%;
    width: 330px;
    position: relative;
}

.wrapper .menu-btn
{
    position: absolute;
    top: 5px;
    left: 230px;
    height: 45px;
    width: 45px;
    z-index: 999;
    color: aliceblue;
    font-size: 40px;
    border: 1px solid #493040;
    text-align: center;
    background: #EC8AC4;
    border-radius: 5px;
    cursor: pointer;

}
.wrapper .sidebar {
    position: fixed;
    height: 100%;
    width: 270px;
    background: #EC8AC4;
}
.sidebar .sidebar-title {
    color: cornsilk;
    font-size: 25px;
    font-weight: 300;
    line-height: 65px;
    background: #493040;
    text-align: center;
}

.sidebar .content {
    position: relative;
    height: 100%;
    width: 100%;

}

.sidebar button {
    display: block;
    color: #493040;
    background: #EC8AC4;
    outline: none;
    border: 1px solid #EC8AC4;
    /* border-top: 1px solid #F8F8F8; */
    padding: 5px;
    margin-top: 20px;
    font-size: large;
    font-weight: 200;
    cursor: pointer;
    text-transform: uppercase;
}