.favorite-wrapper {
    display: flex;
    justify-content: center;
    max-width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* .category-menu {
    width: 10%;
    float: left;
} */

.category-menu {
    font-size: 20px;
    cursor: pointer;
}

.menu-buttons-wrapper {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px
}

..menu-buttons-wrapper button {

}