@import "~react-image-gallery/styles/css/image-gallery.css";

.introduction {
    max-width: 60%;
    margin: 30px auto;
    font-size: larger;
    font-weight: 300;
    color: #54546D;
    line-height: 2;
}

.my-gallery {
    border: 1px dotted burlywood;
}
