@import "~react-image-gallery/styles/css/image-gallery.css";

.introduction {
    max-width: 70%;
    margin: 30px auto;
    font-size: larger;
    font-weight: 200;
    color: #54546D;
    line-height: 2;
}
