.laser-therapy-wrapper {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;
    border: 1px dotted burlywood;
    border-radius: 20px;

}

.player-laser-soprano {
    margin: 80px auto;


}

.advert-wrapper {
    margin: 20px auto;
    max-width: 80%;
}