.laser-therapy-wrapper {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;

}

.player-laser-soprano {
    margin: 80px auto;
    border: 5px solid burlywood;
    padding: 5px;
    max-width: 70%;
}

.advert-wrapper {
    margin: 20px auto;
    max-width: 80%;
}